/* Including styles files */
/* Including fonts */
@import url(../../libs/fancybox/dist/jquery.fancybox.css);
@import url(../../libs/slick-carousel/slick/slick.css);
@import url(../../libs/slick-carousel/slick/slick-theme.css);
@import url(../../libs/nouislider/distribute/nouislider.css);
@import url(fontello.css);
@font-face {
  font-family: 'fontello';
  src: url("../../fonts/fontello/fontello.eot?48953218");
  src: url("../../fonts/fontello/fontello.eot?48953218#iefix") format("embedded-opentype"), url("../../fonts/fontello/fontello.woff2?48953218") format("woff2"), url("../../fonts/fontello/fontello.woff?48953218") format("woff"), url("../../fonts/fontello/fontello.ttf?48953218") format("truetype"), url("../../fonts/fontello/fontello.svg?48953218#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Grid */
.case {
  position: relative;
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }

.col, .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }
  .row-r {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }

.col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .col-r {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }

.row.left, .col.left {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.row.right, .col.right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.row.mid, .col.mid {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.row.between, .col.between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.row.around, .col.around {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.i-top {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.i-bottom {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

.i-mid {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.i-baseline {
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

.i-strech {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

.one {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1; }

.two {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2; }

.tree {
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3; }

.four {
  -webkit-box-ordinal-group: 5;
  -webkit-order: 4;
      -ms-flex-order: 4;
          order: 4; }

.five {
  -webkit-box-ordinal-group: 6;
  -webkit-order: 5;
      -ms-flex-order: 5;
          order: 5; }

.six {
  -webkit-box-ordinal-group: 7;
  -webkit-order: 6;
      -ms-flex-order: 6;
          order: 6; }

.seven {
  -webkit-box-ordinal-group: 8;
  -webkit-order: 7;
      -ms-flex-order: 7;
          order: 7; }

/* Global settings */
*, :before, :after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-size: 20px;
  font-family: "Verdana", sans-serif;
  color: #000;
  background: white; }

header, nav, main, section, article, aside, footer, li, .block {
  display: block; }

.hidden {
  display: none; }

h1, h2, h3, h4, h5, h6 {
  display: inline;
  font-size: inherit;
  font-weight: inherit; }

ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: .3s;
  transition: .3s; }

img {
  display: block;
  max-width: 100% !important;
  max-height: 100% !important; }

.icon {
  display: inline-block;
  vertical-align: middle; }

/* Form elements */
.input {
  position: relative;
  overflow: hidden;
  display: block;
  font-size: 20px;
  font-family: "Verdana", sans-serif;
  background: white;
  width: 100%;
  background-color: #ffffff; }
  .input::-webkit-input-placeholder {
    opacity: 1;
    color: #aab2bd; }
  .input::-moz-placeholder {
    opacity: 1;
    color: #aab2bd; }
  .input:-ms-input-placeholder {
    opacity: 1;
    color: #aab2bd; }
  .input::placeholder {
    opacity: 1;
    color: #aab2bd; }
  .input_round {
    -webkit-border-radius: 50px;
            border-radius: 50px;
    height: 51px;
    padding-left: 35px;
    padding-right: 35px; }
  .input_default {
    height: 43px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    border: 1px solid #e1e1e1;
    padding: 0 17px; }

.textarea textarea {
  font-size: 20px;
  font-family: "Verdana", sans-serif;
  display: block;
  background: white;
  resize: none;
  width: 100%; }
  .textarea textarea::-webkit-input-placeholder {
    opacity: 1;
    color: #878686; }
  .textarea textarea::-moz-placeholder {
    opacity: 1;
    color: #878686; }
  .textarea textarea:-ms-input-placeholder {
    opacity: 1;
    color: #878686; }
  .textarea textarea::placeholder {
    opacity: 1;
    color: #878686; }

.btn {
  position: relative;
  display: block;
  font-size: 18px;
  font-family: "Verdana", sans-serif;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
  border: 2px solid transparent;
  height: 51px;
  line-height: 45px;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  background-color: transparent; }
  .btn_border-red {
    border-color: #da4453; }
  .btn_border-black {
    border-color: #111111; }
  .btn_color-red {
    color: #da4453; }
  .btn_color-black {
    color: #111111; }
  .btn_color-white {
    color: #fff; }
  .btn_bg-red {
    background-color: #da4453; }
  .btn_bg-black {
    background-color: #111111; }
  .btn_bg-white {
    background-color: #fff; }
  .btn_hover-border-red:hover {
    border-color: #da4453; }
  .btn_hover-border-black:hover {
    border-color: #111111; }
  .btn_hover-color-red:hover {
    color: #da4453; }
  .btn_hover-color-black:hover {
    color: #111111; }
  .btn_hover-color-white:hover {
    color: #fff; }
  .btn_hover-bg-transparent:hover {
    background-color: transparent; }
  .btn_hover-bg-red:hover {
    background-color: #da4453; }
  .btn_hover-bg-black:hover {
    background-color: #111111; }
  .btn_hover-bg-white:hover {
    background-color: #fff; }

.input input, .textarea textarea {
  -webkit-transition: .3s;
  transition: .3s; }

.input input, .btn, .slick-slide, .textarea textarea {
  outline: none !important; }

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* opacity: .8 */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /* you can be more comfortable with increased icons size */
  /* font-size: 120% */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3) */ }

.icon-cancel:before {
  content: '\e800'; }

.icon-ok:before {
  content: '\e801'; }

.icon-phone:before {
  content: '\e802'; }

.icon-right-open:before {
  content: '\f006'; }

.icon-left-open:before {
  content: '\f007'; }

.icon-facebook:before {
  content: '\f09a'; }

.icon-info:before {
  content: '\f129'; }

.icon-instagram:before {
  content: '\f16d'; }

.icon-vkontakte:before {
  content: '\f189'; }

.panel {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  padding-top: 18px;
  padding-bottom: 22px;
  -webkit-transition: .3s;
  transition: .3s; }
  .panel:hover {
    background-color: black; }
  .panel a {
    color: #fff; }
  .panel__logo {
    max-width: 280px;
    width: 100%;
    padding-top: 7px; }
  .panel__nav {
    max-width: 550px;
    width: 100%;
    padding-top: 4px; }
    .panel__nav li {
      font-size: 24px;
      margin-right: 50px; }
    .panel__nav a {
      display: block; }
      .panel__nav a:hover {
        color: #da4453; }
  .panel__links {
    margin-left: auto; }

.links ul {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.links .icon {
  font-size: 41px; }

.links li {
  margin-left: 40px; }
  .links li:first-of-type {
    margin-left: 0; }

.links a {
  display: block; }
  .links a:hover {
    color: #da4453; }

.bg {
  background-attachment: fixed;
  background-position: center;
  background-size: cover; }

.header {
  padding-top: 220px;
  padding-bottom: 252px;
  background-image: url("../../img/header.jpg"); }
  .header__title {
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 25px; }
    .header__title span {
      padding: 5px 20px 15px 20px;
      background-color: #da4453; }
    .header__title u {
      width: 15px;
      display: inline-block; }
  .header__desc span {
    font-size: 33px;
    padding: 10px 20px 19px;
    background-color: #ed5565; }
  .header__title, .header__desc {
    margin-left: -15px;
    margin-right: -15px; }
    .header__title span, .header__desc span {
      color: #fff; }
  .header__phone {
    display: none; }

.title {
  font-size: 36px;
  font-weight: 700;
  color: #434a54; }
  .title:before {
    display: block;
    content: '';
    width: 70px;
    height: 5px;
    background-color: #da4453;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    margin-bottom: 15px; }
  .title_mid {
    text-align: center; }
    .title_mid:before {
      margin-left: auto;
      margin-right: auto; }

.loss {
  background-image: url("../../img/loss.png");
  background-attachment: scroll;
  padding-top: 100px;
  padding-bottom: 40px; }
  .loss__wrap-title {
    margin-bottom: 17px; }
  .loss__wrap-text {
    line-height: 30px;
    margin-bottom: 30px; }
  .loss__wrap-desc {
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    padding: 20px 15px 23px 20px;
    background-color: #ed5565; }
    .loss__wrap-desc p {
      margin-bottom: 14px; }
      .loss__wrap-desc p:nth-of-type(1) {
        font-size: 20px;
        text-align: center; }
        .loss__wrap-desc p:nth-of-type(1) strong {
          font-size: 24px; }
      .loss__wrap-desc p:last-of-type {
        margin-bottom: 0; }
  .loss__wrap-content, .loss__wrap-ranges {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px; }
  .loss__wrap-ranges {
    padding-top: 28px; }
  .loss__wrap {
    margin-left: -15px;
    margin-right: -15px; }
  .loss__ranges {
    padding-top: 40px; }
  .loss__content {
    margin-top: 90px;
    margin-left: -15px;
    margin-right: -15px; }
    .loss__content-icon, .loss__content-text {
      padding-left: 15px;
      padding-right: 15px;
      width: 50%; }
    .loss__content-icon {
      text-align: center; }
      .loss__content-icon img {
        position: relative;
        margin-top: -20px;
        width: 445px;
        display: inline-block;
        vertical-align: middle; }
    .loss__content-title {
      margin-bottom: 27px; }
    .loss__content-list li {
      width: 100%;
      line-height: 30px;
      margin-bottom: 35px;
      padding-left: 58px;
      position: relative; }
      .loss__content-list li:last-of-type {
        margin-bottom: 0; }
      .loss__content-list li:before {
        content: '\e801';
        font-family: "fontello";
        position: absolute;
        font-size: 42px;
        top: 5px;
        left: 0;
        color: #da4453; }

.ranges__item {
  margin-bottom: 27px; }

.ranges__title {
  width: -webkit-calc(100% - 160px);
  width: calc(100% - 160px); }

.ranges__counts {
  font-size: 18px;
  width: 160px;
  color: #939393;
  text-align: right; }
  .ranges__counts span:nth-of-type(2):before {
    content: '-';
    margin-left: 4px;
    margin-right: 4px; }

.ranges__data {
  margin-bottom: 14px; }

.counts {
  background-image: url("../../img/dots.png");
  padding-top: 87px;
  padding-bottom: 90px; }
  .counts__title {
    margin-bottom: 27px; }
  .counts__desc {
    line-height: 30px;
    max-width: 905px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px; }
  .counts__subtitle {
    font-size: 24px;
    font-weight: 700;
    color: #434a54;
    text-align: center;
    margin-bottom: 68px; }
  .counts__list {
    margin-bottom: 55px; }
  .counts__item {
    width: 33.333%;
    padding-left: 45px; }
    .counts__item:nth-of-type(1) {
      padding-left: 105px; }
    .counts__item-title {
      font-size: 30px;
      font-weight: 700;
      position: relative;
      margin-bottom: 22px; }
      .counts__item-title:before {
        display: block;
        content: '';
        width: 15px;
        height: 15px;
        position: absolute;
        top: 9px;
        left: -30px;
        background-color: #da4453; }
    .counts__item-count {
      font-size: 64px;
      font-weight: 700;
      color: #da4453; }
  .counts__btn {
    max-width: 300px; }

.about {
  padding-top: 95px;
  margin-bottom: 100px; }
  .about__list {
    margin-left: -15px;
    margin-right: -15px; }
  .about__item {
    margin-bottom: 100px; }
    .about__item:last-of-type {
      margin-bottom: 0; }
    .about__item:nth-of-type(even) .about__content {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2; }
    .about__item:nth-of-type(even) .about__icon {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1; }
    .about__item:nth-of-type(1) .about__icon img {
      width: 400px;
      margin-top: 30px; }
    .about__item:nth-of-type(2) .about__icon img {
      width: 260px; }
  .about__title {
    margin-bottom: 30px; }
    .about__title:before {
      margin-bottom: 25px; }
  .about__content, .about__icon {
    padding-left: 15px;
    padding-right: 15px;
    width: 50%; }
  .about__text {
    line-height: 30px; }
    .about__text p {
      margin-bottom: 30px; }
      .about__text p:last-of-type {
        margin-bottom: 0; }
  .about__icon {
    text-align: center; }
    .about__icon img {
      display: inline-block; }
  .about__btn {
    margin-top: 35px;
    max-width: 265px;
    margin-left: 0; }

.reviews {
  margin-bottom: 90px; }
  .reviews__title {
    margin-bottom: 30px; }
    .reviews__title:before {
      margin-bottom: 25px; }
  .reviews__desc {
    max-width: 875px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 74px; }
  .reviews__list {
    padding-left: 120px;
    padding-right: 120px;
    min-height: 400px; }
    .reviews__list .slick-slide {
      width: 265px;
      -webkit-transition: .3s;
      transition: .3s;
      padding-top: 72px; }
    .reviews__list .slick-current {
      width: 360px;
      padding-top: 0; }
    .reviews__list .slick-arrow {
      z-index: 1;
      width: auto;
      height: auto; }
      .reviews__list .slick-arrow:before {
        display: none; }
      .reviews__list .slick-arrow .icon {
        font-size: 0; }
        .reviews__list .slick-arrow .icon:before {
          font-size: 42px;
          color: #da4453; }
    .reviews__list .slick-prev {
      left: 0; }
    .reviews__list .slick-next {
      right: 0; }
  .reviews__item {
    padding-left: 15px;
    padding-right: 15px; }
    .reviews__item img {
      -webkit-transition: .3s;
      transition: .3s; }

.advantages {
  padding-bottom: 95px; }
  .advantages__title {
    margin-bottom: 75px; }
    .advantages__title:before {
      margin-bottom: 25px; }
  .advantages__list {
    margin-left: -15px;
    margin-right: -15px; }
  .advantages__item {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 72px; }
    .advantages__item-icon {
      height: 140px;
      margin-bottom: 55px; }
      .advantages__item-icon img {
        position: relative;
        height: 260px;
        margin-left: auto;
        margin-right: auto;
        top: -50px;
        max-height: none !important; }
    .advantages__item-title {
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;
      color: #434a54;
      margin-bottom: 15px; }
    .advantages__item-text {
      line-height: 30px; }
  .advantages__btn {
    display: inline-block;
    vertical-align: middle;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 18px;
    margin-right: 18px; }
    .advantages__btns {
      font-size: 0;
      text-align: center; }

.monitoring {
  padding-top: 95px;
  padding-bottom: 100px;
  background-color: #fafafa; }
  .monitoring__title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 14px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto; }
  .monitoring__head-item, .monitoring__body-item {
    border-top: 2px solid #ebebeb; }
    .monitoring__head-item:nth-of-type(1), .monitoring__body-item:nth-of-type(1) {
      width: 460px;
      text-align: left; }
      .monitoring__head-item:nth-of-type(1) p, .monitoring__body-item:nth-of-type(1) p {
        padding-right: 30px; }
    .monitoring__head-item:nth-of-type(2), .monitoring__head-item:nth-of-type(3), .monitoring__head-item:nth-of-type(4), .monitoring__body-item:nth-of-type(2), .monitoring__body-item:nth-of-type(3), .monitoring__body-item:nth-of-type(4) {
      text-align: center; }
    .monitoring__head-item:nth-of-type(2), .monitoring__body-item:nth-of-type(2) {
      padding-left: 115px;
      width: 255px; }
    .monitoring__head-item:nth-of-type(3), .monitoring__head-item:nth-of-type(4), .monitoring__body-item:nth-of-type(3), .monitoring__body-item:nth-of-type(4) {
      width: 210px; }
    .monitoring__head-item:nth-of-type(3), .monitoring__body-item:nth-of-type(3) {
      padding-left: 50px; }
  .monitoring__head-item {
    font-size: 24px;
    padding-top: 17px;
    padding-bottom: 14px; }
    .monitoring__head-item span {
      display: none; }
    .monitoring__head-item u {
      text-decoration: none; }
    .monitoring__head-item:nth-of-type(1) {
      font-weight: 700; }
  .monitoring__body-item {
    position: relative;
    padding-top: 16px;
    padding-bottom: 16px; }
    .monitoring__body-item:nth-of-type(1):after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      right: 0;
      border: 2px solid #656d78; }
  .monitoring__body-line {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
  .monitoring__foot {
    padding-top: 60px; }
    .monitoring__foot-item {
      margin-bottom: 14px; }
      .monitoring__foot-item:last-of-type {
        margin-bottom: 0; }
    .monitoring__foot-btn {
      width: 195px;
      margin-left: 265px;
      margin-right: 125px; }
    .monitoring__foot-desc {
      width: 595px;
      margin-right: -45px; }
    .monitoring__foot-wrap, .monitoring__foot-rounds {
      display: inline-block;
      vertical-align: middle; }

.info {
  z-index: 1;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }
  .info_toggle .info__content {
    opacity: 1;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1); }
  .info__icon {
    font-size: 0;
    color: #fff;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    font-weight: 400;
    background-color: #ccd1d9;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    cursor: pointer; }
    .info__icon .icon {
      font-size: 20px; }
  .info__content {
    opacity: 0;
    z-index: 2;
    position: absolute;
    width: 450px;
    border: 3px solid #da4453;
    background-color: #fff;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    bottom: 35pxf;
    right: -470px;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0); }
    .info__content:before {
      content: '';
      position: absolute;
      display: block;
      bottom: -8px;
      left: -8px;
      width: 16px;
      height: 16px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      border: 3px solid #da4453;
      background-color: #fff; }
    .info__content:after {
      content: '';
      position: absolute;
      display: block;
      bottom: -20px;
      left: -20px;
      width: 12px;
      height: 12px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      border: 3px solid #da4453;
      background-color: #fff; }
  .info__text {
    font-size: 16px;
    line-height: 24px;
    color: #0c0c0c;
    padding: 25px 27px 27px; }
  .info__close {
    position: absolute;
    right: 6px;
    top: 3px;
    font-size: 0;
    -webkit-transition: .3s;
    transition: .3s;
    cursor: pointer; }
    .info__close:hover {
      -webkit-transform: scale(0.8);
          -ms-transform: scale(0.8);
              transform: scale(0.8); }
    .info__close .icon {
      color: #da4453;
      font-size: 17px; }

.round {
  position: relative;
  width: 24px;
  height: 24px;
  border: 2px solid #000000;
  display: inline-block;
  vertical-align: middle;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-left: 8px;
  margin-right: 8px; }
  .round_bg, .round_full {
    border-color: #da4453;
    background-color: #da4453; }
  .round_mobile {
    display: none; }
  .round_1-2, .round_none {
    overflow: hidden;
    border: 4px solid #cccccc; }
  .round_1-2:before {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #da4453;
    -webkit-border-radius: 50%;
            border-radius: 50%; }
  .round_1-2:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    background-color: #fff; }

.plans {
  padding-top: 95px;
  margin-bottom: 115px; }
  .plans__title {
    margin-bottom: 52px; }
    .plans__title:before {
      margin-bottom: 32px; }
  .plans__list {
    background-color: #fafafa; }
    .plans__list-item {
      padding: 37px 45px 33px;
      border-top: 1px solid #cccccc;
      border-bottom: 1px solid #cccccc;
      border-left: 0.5px solid #cccccc;
      border-right: 0.5px solid #cccccc; }
  .plans__subtitle {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #da4453;
    margin-bottom: 6px; }
  .plans__desc {
    font-size: 14px;
    margin-bottom: 23px; }
  .plans__sum {
    font-size: 30px;
    line-height: 25px;
    text-transform: uppercase;
    margin-bottom: 25px; }
  .plans__btn {
    font-weight: 700;
    text-transform: uppercase; }
    .plans__btn-desc {
      font-size: 14px;
      text-decoration: underline;
      text-align: center;
      margin-top: 6px; }
  .plans__content {
    margin-top: 10px;
    background-color: #fafafa; }
  .plans__text {
    padding-top: 40px;
    padding-bottom: 50px;
    height: 100%; }
    .plans__text li {
      position: relative;
      font-size: 14px;
      padding: 10px 20px 5px 45px; }
      .plans__text li:before {
        font-family: 'fontello';
        content: '\e801';
        display: block;
        position: absolute;
        top: 12px;
        left: 16px;
        font-size: 15px;
        color: #da4453; }
      .plans__text li.dot {
        padding: 16px 20px 14px 45px;
        background-color: #e1e1e1; }
        .plans__text li.dot:before {
          font-size: 0;
          content: '';
          width: 8px;
          height: 8px;
          left: 22px;
          top: 24px;
          -webkit-border-radius: 50%;
                  border-radius: 50%;
          background-color: #da4453; }

.payback__content {
  width: -webkit-calc(100% - 455px);
  width: calc(100% - 455px); }

.payback__icon {
  width: 455px; }
  .payback__icon img {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -60px;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2); }

.payback__title {
  margin-bottom: 25px; }
  .payback__title:before {
    margin-bottom: 25px; }

.payback__text {
  line-height: 30px;
  margin-bottom: 35px;
  max-width: 585px; }

.payback__btn {
  width: 300px;
  margin-left: 0; }

.footer {
  position: relative;
  color: #fff;
  padding-top: 95px;
  background-image: url("../../img/footer.jpg"); }
  .footer:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); }
  .footer .case {
    z-index: 2;
    position: relative; }
  .footer__sub {
    margin-bottom: 75px; }
  .footer__content {
    font-size: 24px;
    padding: 15px 0 22px;
    border-top: 2px solid #da4453; }
    .footer__content a {
      color: #fff; }
  .footer__copy, .footer__phone {
    padding-top: 7px; }
  .footer__phone {
    text-align: center;
    font-weight: 700; }
    .footer__phone a {
      color: #da4453; }
  .footer__copy, .footer__phone, .footer__socials {
    width: 33.333%; }
  .footer__socials {
    font-size: 0; }

.sub {
  width: 690px;
  margin-left: auto;
  margin-right: auto; }
  .sub__title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: -3px; }
  .sub__desc {
    color: #a2a2a2;
    margin-bottom: 33px; }
  .sub__input {
    width: -webkit-calc(100% - 28px - 195px);
    width: calc(100% - 28px - 195px); }
  .sub__btn {
    margin-left: 0;
    margin-right: 0;
    width: 195px; }

.popup {
  display: none;
  position: relative;
  -webkit-box-shadow: -3px 9px 24px rgba(0, 0, 0, 0.35);
          box-shadow: -3px 9px 24px rgba(0, 0, 0, 0.35);
  -webkit-border-radius: 10px;
          border-radius: 10px;
  border: 4px solid #ebebeb;
  background-color: #ffffff;
  text-align: center;
  padding: 55px;
  width: 575px;
  overflow: visible; }
  .popup__close {
    z-index: 1;
    width: 41px;
    height: 41px;
    border: 4px solid #d7d7d7;
    color: #d7d7d7;
    background-color: #ffffff;
    text-align: center;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    -webkit-transition: .3s;
    transition: .3s;
    cursor: pointer;
    position: absolute;
    top: -16px;
    right: -16px;
    font-size: 0;
    line-height: 32px; }
    .popup__close .icon {
      font-size: 18px; }
    .popup__close:hover {
      color: #da4453;
      border-color: #da4453; }
  .popup__input {
    margin-bottom: 17px; }
  .popup__btn {
    font-size: 22px;
    margin-left: 0;
    width: 185px; }
  .popup__title {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 700; }
  .popup .fancybox-close-small {
    display: none; }

.noUi-target {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #e1e1e1;
  border: none;
  height: 10px; }

.noUi-handle:before, .noUi-handle:after {
  display: none; }

.noUi-horizontal .noUi-handle {
  width: 28px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #da4453;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 7px solid #d7d7d7;
  top: -9px;
  cursor: pointer; }

.noUi-connect {
  background-color: #aab2bd; }

.mobile-show {
  display: none !important; }
